[Desktop Entry]
Encoding=UTF-8
Name=Lien vers TP Reseau serveur proxy
Type=Link
URL=http://www.dil.univ-mrs.fr/~jfp/master/m03/2005-2006/projet_proxy.html
Icon=text-html
